body {
    background-color: #130f40;
}
.sun {
    background-color: #fff200;
    width: 695px;
    height: 695px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}